.splide__slide img {
    width: 100%;
    height: auto;
  }
  
  

@media only screen and (max-width: 600px) {

   #carouselExample{
    position: relative;
    bottom: 200px;
   }

}
  

@media only screen and (max-width: 412px) {
    #carouselExample{
        position: relative;
        bottom: 200px;
       }
  

}